<p>
  <b>Name:</b>
  <%=h @activity_type.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @activity_type.description %>
</p>


<%= link_to 'Edit', edit_activity_type_path(@activity_type) %> |
<%= link_to 'Back', activity_types_path %>