<% title "Timesheets: Edit Project" %>

<%= render :partial => "form" %>

<p><%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %></p>
<p>
  <%= link_to '&laquo; Back to "My Timesheets"', timesheets_path %>
</p>